.sor div{
    width: 2cm;
    height: 2cm;
    display: inline-block;
    background-color: darkgray;
}

div.sor:nth-child(odd) div:nth-child(even), div:nth-child(even) div:nth-child(odd) {
    background-color: black;
}

.sor div, .sor{
    margin: -1.8px;
}


.sor div:hover{
    background-color: #FF00FF;
  }

.keret{
    background-color: ;
}